@inherits LayoutComponentBase


<div class="d-flex justify-content-between" style="background-color:#f3f3f2;">
	<div class="d-flex">
		<i class="bi bi-geo-alt"></i>
		<p class="ms-2">Şehit Abd. Çavuş Mah. Mustafa Or Cd. Deniz Apt. No:18/B Onikişubat / KAHRAMANMARAŞ</p>
	</div>
	<div class="d-flex  ms-auto ">
		<i class="bi bi-envelope"></i>
		<p class="ms-1">info@boyser.com</p>
	</div>
	<div class="d-flex ms-2">
		<i class="bi bi-clock"></i>
		<p class="ms-1">Pazartesi-Cumartesi 9:00 - 24:00</p>
	</div>
	<div class="d-flex ms-2">
		<i class="bi bi-telephone"></i>
		<p class="ms-1"> 0(536)6765246</p>
	</div>
</div>



<div class="my-custom-layout">
	<header>
		<h1></h1>
	</header>

	<main>
		@Body
	</main>

	<footer>
		<p></p>
	</footer>
</div>
