@page "/admin/createclinic"

@using Microsoft.AspNetCore.Components.Forms;


<Toasts class="p-3" Messages="messages" Placement="ToastsPlacement.TopRight" />

<h3>Yeni Personel Oluştur</h3>
<div class="row">
	<div class="col-4"></div>

	<div class="col-4 align-items-center">
		<div class="table-responsive ">
			<table class="table table-hover table-bordered table-striped">

				<tbody>
					
					<tr>
						<td>
							Klinik Adı
						</td>

						<td>
							<InputText @bind-Value:get="ClinicName" @bind-Value:set="(value) => {ClinicName = value; }" />

						</td>
					</tr>
					
					
					


					<tr>
						<td colspan="2">
							<Button Class="col-12" Color="ButtonColor.Success" @onclick="() => CreateAsync()">
								Oluştur
							</Button>
						</td>
					</tr>


				</tbody>
			</table>
		</div>

	</div>

	<div class="col-4"></div>

</div>